<form class="{{cssClass}}" autocomplete="off">
  {{! Sheet Header }}
  <header class="flexrow">
    {{> "systems/majimonsters/templates/actors/partials/binder-header.html"}}
  </header>
  {{! Sheet Tab Navigation }}
  <nav class="sheet-tabs tabs flexrow" data-group="primary">
    <a class="item" data-tab="abilities">
      {{localize "MAJI.category.abilities"}}
    </a>
    <a class="item" data-tab="inventory">
      {{localize "MAJI.category.inventory"}}
    </a>
    <a class="item" data-tab="notes">
      {{localize "MAJI.category.notes"}}
    </a>
  </nav>
  {{! Sheet Body }}
  <section class="sheet-body">
    {{! Attributes Tab }}
    <div
      class="tab attributes flexrow"
      data-group="primary"
      data-tab="abilities"
    >
      {{>
      "systems/majimonsters/templates/actors/partials/binder-abilities-tab.html"}}
    </div>
    {{! Owned Drajules Tab }}
    <div class="tab drajules flexrow" data-group="primary" data-tab="inventory">
      {{>
      "systems/majimonsters/templates/actors/partials/binder-inventory-tab.html"}}
    </div>
    {{! Biography Tab }}
    <div class="tab biography" data-group="primary" data-tab="notes">
      {{editor content=data.details.biography target="data.details.biography"
      button=true owner=owner editable=editable}}
    </div>
  </section>
</form>
