<form class="{{cssClass}}" autocomplete="off">
  <div class="flexrow mm_part1">
    {{> "systems/majimonsters/templates/actors/partials/monster-header.html"}}
  </div>
  {{! Navigation }}
  <div class="flex flexrow">
    {{! Sheet Tab Navigation }}
    <nav class="sheet-tabs tabs" data-group="primary">
      <a class="item" data-tab="notes">
        <span>{{localize "MAJI.category.notes"}}</span>
      </a>
      <a class="item" data-tab="stats">
        <span>{{localize "MAJI.category.stats"}}</span>
      </a>
      <a class="item" data-tab="traits">
        <span>{{localize "MAJI.category.traits"}}</span>
      </a>
      <a class="item" data-tab="techniques">
        <span>{{localize "MAJI.category.techniques"}}</span>
      </a>
    </nav>
    <section class="sheet-body">
        <div class="mm_mmtabs tab" data-group="primary" data-tab="notes">
            {{editor content=data.details.biography target="data.details.biography"
            button=true owner=owner editable=editable}}
        </div>
        {{! Attributes }}
        <div class="mm_mmtabs tab" data-group="primary" data-tab="stats">
            {{> "systems/majimonsters/templates/actors/partials/monster-attributes-tab.html"}}
        </div>
        <div class="mm_mmtabs tab" data-group="primary" data-tab="traits">
          {{> "systems/majimonsters/templates/actors/partials/monster-traits-tab.html"}}
        </div>
        <div class="mm_mmtabs tab" data-group="primary" data-tab="techniques">
          {{> "systems/majimonsters/templates/actors/partials/monster-techniques-tab.html"}}
        </div>
    </section>
  </div>
</form>
