<form autocomplete="off" onsubmit="event.preventDefault();">
    <ol class="trait-list">
        {{#each choices as |choice key|}}
        <li>
            <label class="checkbox">
                <input type="checkbox" name="{{key}}" data-dtype="Boolean" {{checked choice.chosen}}>
                {{localize choice.label}}
            </label>
        </li>
        {{/each}}
    </ol>
    <button type="submit" name="submit" value="1"><i class="far fa-save"></i> Update Actor</button>
</form>
