<div class="panel">
  <div class="flexrow item-header">
    <span class="title">
      {{localize "MAJI.category.drajules"}}
    </span>
    {{#if owner}}
    <div class="item-controls">
      <a class="item-control item-create" title="Add" data-type="drajule">
        <i class="fas fa-plus"></i> Add
      </a>
    </div>
    {{/if}}
  </div>
  <ol class="items-list">
    {{#each drajules as |item id|}}
    <div class="item-entry">
      <li class="item flexrow" data-item-id="{{item._id}}">
        <h4 class="item-name">
          {{item.name}} <i class="fas fa-angle-down"></i>
        </h4>
        <div class="item-controls">
          <a class="item-control item-edit" title="Edit Drajule">
            <i class="fas fa-edit"></i>
          </a>
          <a class="item-control item-delete" title="Delete Drajule">
            <i class="fas fa-trash"></i>
          </a>
        </div>
      </li>
      {{#if item.data.monster.id}}
      <div class="collapsible collapsed monster-link">
        <div class="flexrow">
          <div
            class="monster-portrait entity"
            data-entity-id="{{item.data.monster.id}}"
          >
            <img src="{{actor item.data.monster.id 'img'}}" />
          </div>
          <div class="flexcolumn details">
            <div class="flexrow">
              <h4>{{actor item.data.monster.id 'name'}}</h4>
              <span
                ><b>{{localize "MAJI.details.grade"}}:</b> {{actor
                item.data.monster.id 'data.data.details.grade'}} -
                <b>{{localize "MAJI.details.lvl"}}:</b> {{actor
                item.data.monster.id 'data.data.details.level'}}</span
              >
            </div>
            <div class="flexrow">
              <span
                ><b>{{localize "MAJI.stats.affinities"}}:</b>
                {{#each (actor item.data.monster.id 'data.data.affinities') as
                |element id|}} {{lookup ../../config.elements element}}
                {{/each}}
              </span>
            </div>
          </div>
        </div>
      </div>
      {{else}}
      <div class="collapsible collapsed binding">
        <div class="flexrow">
          <div class="">
            <strong>{{localize "MAJI.check.bind"}}</strong>
          </div>
          <div class="roll-icon binding-roll">
            <img src="/systems/majimonsters/assets/icons/dice/d20.png" />
          </div>
        </div>
      </div>
      {{/if}}
      <div class="collapsible collapsed description">
        {{{data.description}}}
      </div>
    </div>
    {{/each}}
  </ol>
</div>
<div class="flex">
  <div class="flexrow">
    <div class="flex flexcol">
      <div class="flex flexrow currency-group">
        <div class="flexcol flex flexmiddle">
          <div class="currency">
            <label>{{localize "MAJI.currency.imperials"}}</label>
            <input
              type="number"
              value="{{data.currency.imperials}}"
              name="data.currency.imperials"
            />
          </div>
        </div>
        <div class="flex flexmiddle">
          <div class="currency">
            <label>{{localize "MAJI.currency.suls"}}</label>
            <input
              type="number"
              value="{{data.currency.suls}}"
              name="data.currency.suls"
            />
          </div>
        </div>
        <div class="flex flexmiddle">
          <div class="currency">
            <label>{{localize "MAJI.currency.eyes"}}</label>
            <input
              type="number"
              value="{{data.currency.eyes}}"
              name="data.currency.eyes"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="items">
    <div class="panel">
      <div class="flexrow item-header">
        <span class="title">
          {{localize "MAJI.category.inventory"}}
        </span>
        {{#if owner}}
        <div class="item-controls">
          <a class="item-control item-create" title="Add" data-type="item">
            <i class="fas fa-plus"></i> Add
          </a>
        </div>
        {{/if}}
      </div>
      <ol class="items-list">
        {{#each inventory as |item id|}}
        <div class="item-entry">
          <li class="item flexrow" data-item-id="{{item._id}}">
            <h4 class="item-name">
              {{item.name}}{{#unless (eq data.quantity 1)}}
              ({{data.quantity}}){{/unless}} <i class="fas fa-angle-down"></i>
            </h4>
            <div class="item-controls">
              <a class="item-control item-edit" title="Edit Item">
                <i class="fas fa-edit"></i>
              </a>
              <a class="item-control item-delete" title="Delete Item">
                <i class="fas fa-trash"></i>
              </a>
            </div>
          </li>
          <div class="description collapsible collapsed">
            {{{data.description}}}
          </div>
        </div>
        {{/each}}
      </ol>
    </div>
  </div>
</div>
