<div class="panel">
  <div class="flexrow item-header">
    <span class="title">
      {{localize "MAJI.category.features"}}
    </span>
    {{#if owner}}
    <div class="item-controls">
      <a class="item-control item-create" title="Add" data-type="feature">
        <i class="fas fa-plus"></i> Add
      </a>
    </div>
    {{/if}}
  </div>
  <ol class="items-list">
    {{#each features as |feat id|}}
    <div class="item-entry">
      <li class="item flexrow" data-item-id="{{feat._id}}">
        <h4 class="item-name">
          {{feat.name}} <i class="fas fa-angle-down"></i>
        </h4>
        <div class="item-controls">
          <a class="item-control item-edit" title="Edit Feature">
            <i class="fas fa-edit"></i>
          </a>
          <a class="item-control item-delete" title="Delete Feature">
            <i class="fas fa-trash"></i>
          </a>
        </div>
      </li>
      <div class="collapsible collapsed description">
        {{{data.description}}}
      </div>
    </div>
    {{/each}}
  </ol>
</div>
<div class="panel">
  <span class="title">
    {{localize "MAJI.category.counters"}}
  </span>
  <div>
    {{#each features as |feat id|}} {{#if feat.data.counter.active}}
    <div>
      <div class="flex flexrow item attribute-counter" data-item-id="{{feat._id}}">
        <div class="">
          <strong>
            {{feat.name}}
          </strong>
        </div>
        <div
          class="counterbar"
          style="flex-basis:{{counter-bar true 24 feat.data.counter.value feat.data.counter.max}}px;background-image:url('{{feat.data.counter.icon}}');"
        ></div>
        <div
          class="counterbar inactive"
          style="flex-basis:{{counter-bar false 24 feat.data.counter.value feat.data.counter.max}}px;background-image:url('{{feat.data.counter.icon}}');"
        ></div>
        </div>
    </div>
    {{/if}} {{/each}}
  </div>
</div>
