<div class="flexcol">
  <div class="flexrow portrait">
    <img
      class="profile-img"
      src="{{actor.img}}"
      data-edit="img"
      title="{{actor.name}}"
      height="180px"
      width="180px"
    />
  </div>
  <div class="flexrow">
    <div></div>
    <div class="nogrow">
      <div class="counter-label">
        {{localize "MAJI.details.authority"}}
      </div>
      <div class="brawn">
        <input
          type="number"
          class=""
          data-dtype="Number"
          value="{{data.details.authority}}"
          name="data.details.authority"
        />
      </div>
    </div>
    <div></div>
    <div class="nogrow">
      <div class="counter-label">
        {{localize "MAJI.binder.health"}}
      </div>
      <div class="counter">
        <input
          type="number"
          class=""
          data-dtype="Number"
          name="data.hp.value"
          value="{{data.hp.value}}"
        />
        /
        <input
          type="number"
          data-dtype="Number"
          name="data.hp.max"
          value="{{data.hp.max}}"
        />
      </div>
    </div>
  </div>
</div>
<div class="flex3 flexcol">
  <div class="flexrow padding">
    <div class="flex flexcol underlined">
      <div class="flexrow nogrow">
        <input
          type="text"
          class="wide"
          name="name"
          value="{{actor.name}}"
          placeholder="{{localize 'MAJI.details.bindername'}}"
        />
      </div>
      <div class="class spadding nogrow">
        <input
          class="thin bold"
          name="data.details.class"
          type="Text"
          value="{{data.details.class}}"
          placeholder="{{localize 'MAJI.details.binderclass'}}"
        />
        <input
          class="thin"
          type="Text"
          name="data.details.archetype"
          value="{{data.details.archetype}}"
          placeholder="{{localize 'MAJI.details.archetype'}}"
        />
        <input
          class="thin"
          type="Text"
          name="data.details.background"
          value="{{data.details.background}}"
          placeholder="{{localize 'MAJI.details.background'}}"
        />
      </div>
    </div>
  </div>
  <div class="flexrow"></div>
  <div class="flexrow">
    {{#each data.attributes as |attribute k|}}
    <div class="flexcol skillgroup">
      <div class="flexrow attribute">
        <div class="flexcol">
          <label class="attribute-roll" data-attribute="{{k}}"><a>{{attribute.label}}</a></label>
        </div>
        <div class="flexcol">
          <input
            type="number"
            name="data.attributes.{{k}}.value"
            value="{{attribute.value}}"
          />
        </div>
      </div>
      <div>
        {{#each ../data.skills as |skill s|}} {{#if (eq k skill.ability)}}
        <div class="flexrow skill">
          <div class="flexcol">
            <label class="skill-roll" data-skill="{{s}}"><a>{{skill.label}}</a></label>
          </div>
          <div class="flexcol">
            <input
              type="number"
              name="data.skills.{{s}}.value"
              value="{{skill.value}}"
            />
          </div>
          <div class="flexcol roll"></div>
        </div>
        {{/if}} {{/each}}
      </div>
    </div>
    {{/each}}
  </div>
  <div class="flexrow"></div>
</div>
