<div class="flex flexrow mm_talentlist" style="padding-bottom: 10px;">
  <div class="flex flexcolumn padding techniques">
    <div class="flexrow item-header">
      <span class="title">
        Techniques
      </span>
      {{#if owner}}
      <div class="item-controls">
        <a class="item-control item-create" title="Add" data-type="technique">
          <i class="fas fa-plus"></i> Add
        </a>
      </div>
      {{/if}}
    </div>
    <div class="flexcolumn flex">
      {{#each techniques as |technique id|}}
      <div class="flex flexcolumn item-entry technique">
        <div class="flexrow item" data-item-id="{{technique._id}}">
          <img
            title="{{lookup ../config.elements technique.data.element}}"
            src="/systems/majimonsters/assets/elements/{{technique.data.element}}.png"
          />
          <h4 class="item-name">
            {{technique.name}} <i class="fas fa-angle-down"></i>
          </h4>
          <div class="item-controls">
            <a class="item-control item-show" title="Show Technique" data-roll-type="chat">
              <i class="fas fa-eye"></i>
            </a>
            <a class="item-control item-edit" title="Edit Technique">
              <i class="fas fa-edit"></i>
            </a>
            <a class="item-control item-delete" title="Delete Technique">
              <i class="fas fa-trash"></i>
            </a>
          </div>
        </div>
        <div class="flex wide collapsible description collapsed">
            <p>
              <i>
                {{lookup ../config.actions technique.data.details.action}}
              </i>
            </p>
            {{#if technique.data.details.attack}}
            <p>
              <b>
                {{localize "MAJI.technique.attack"}}:
              </b>
              {{lookup ../config.stats technique.data.details.attack}} vs {{lookup ../config.stats technique.data.details.defense}}
              <div class="roll-icon roll-technique roll-empowerable" data-roll-type="attack">
                <img src="/systems/majimonsters/assets/icons/dice/d6s.png" />
              </div>
            </p>
            {{/if}}
            {{#if (hasDamage technique.data.damage)}}
            <p>
              <strong>
                {{localize "MAJI.technique.damage"}}:
              </strong>
              {{#if technique.data.damage.num}}{{technique.data.damage.num}}d{{technique.data.damage.die}} +{{/if}}{{#if technique.data.damage.bonus}} {{lookup ../config.stats technique.data.damage.bonus}}{{/if}}
              <div class="roll-icon roll-technique roll-empowerable" data-roll-type="damage">
                <img src="/systems/majimonsters/assets/icons/dice/d.png" />
              </div>
            </p>
            {{/if}}
            {{#if technique.data.trigger.condition}}
            <p>
              <b>
                {{localize "MAJI.technique.trigger"}}:
              </b>
              {{#if technique.data.trigger.threshold}}({{technique.data.trigger.threshold}}){{/if}}
              {{lookup ../config.conditions technique.data.trigger.condition}}
            </p>
            {{/if}}
            {{#if technique.data.details.target}}
            <p>
              <b>
                {{localize "MAJI.technique.target"}}:
              </b>
              {{technique.data.details.target}}
            </p>
            {{/if}}
            {{{technique.data.description}}}
            <span>
              <i>
                {{lookup ../config.elements technique.data.element}}
              </i>
              {{#if technique.data.tags.reach}}
              •
              <i>
                {{lookup ../config.reach technique.data.tags.reach}}
              </i>
              {{/if}}
              {{#if technique.data.tags.descriptor}}
              •
              <i>
                {{lookup ../config.descriptors technique.data.tags.descriptor}}
              </i>
              {{/if}}
              {{#if technique.data.tags.action}}
              •
              <i>
                {{lookup ../config.actions technique.data.tags.action}}
              </i>
              {{/if}}
            </span>
        </div>
      </div>
      {{/each}}
    </div>
  </div>
</div>
