<div class="flexrow mm_stats-row flexmiddle">
  <div class="stat-box">
    <div class="stat-label">
      {{localize "MAJI.stats.health"}}
    </div>
    <div class="mm_stat" data-attribute="health">
      <input
        type="number"
        data-dtype="Number"
        class="mm_input mm_stat-value"
        name="data.attributes.health.value"
        value="{{data.attributes.health.value}}"
      />
      <div class="mm_modified">
        {{add data.attributes.health.value data.attributes.health.mod}}
      </div>
      <div class="mm_bullet"></div>
      <div class="modifier hidden">
        <label>{{localize "MAJI.modifier"}}</label>
        <input
          type="number"
          data-dtype="Number"
          class="mm_input"
          name="data.attributes.health.mod"
          value="{{data.attributes.health.mod}}"
        />
      </div>
    </div>
  </div>
  <div class="stat-box">
    <div class="stat-label">
      {{localize "MAJI.stats.strike"}}
    </div>
    <div class="mm_stat" data-attribute="strike">
      <input
        type="number"
        data-dtype="Number"
        class="mm_input mm_stat-value"
        name="data.attributes.strike.value"
        value="{{data.attributes.strike.value}}"
      />
      <div class="mm_modified">
        {{add data.attributes.strike.value data.attributes.strike.mod}}
      </div>
      <div class="roll-icon roll-empowerable">
        <img src="/systems/majimonsters/assets/icons/dice/d6s.png" />
      </div>
      <div class="mm_bullet"></div>
      <div class="modifier hidden">
        <label>{{localize "MAJI.modifier"}}</label>
        <input
          type="number"
          data-dtype="Number"
          class="mm_input"
          name="data.attributes.strike.mod"
          value="{{data.attributes.strike.mod}}"
        />
      </div>
    </div>
  </div>
  <div class="stat-box">
    <div class="stat-label">
      {{localize "MAJI.stats.magic"}}
    </div>
    <div class="mm_stat" data-attribute="magic">
      <input
        type="number"
        data-dtype="Number"
        class="mm_input mm_stat-value"
        name="data.attributes.magic.value"
        value="{{data.attributes.magic.value}}"
      />
      <div class="mm_modified">
        {{add data.attributes.magic.value data.attributes.magic.mod}}
      </div>
      <div class="roll-icon roll-empowerable">
        <img src="/systems/majimonsters/assets/icons/dice/d6s.png" />
      </div>
      <div class="mm_bullet"></div>
      <div class="modifier hidden">
        <label>{{localize "MAJI.modifier"}}</label>
        <input
          type="number"
          class="mm_input"
          data-dtype="Number"
          name="data.attributes.magic.mod"
          value="{{data.attributes.magic.mod}}"
        />
      </div>
    </div>
  </div>
  <div class="stat-box">
    <div class="stat-label">
      {{localize "MAJI.stats.brawn"}}
    </div>
    <div class="mm_stat" data-attribute="brawn">
      <input
        type="number"
        class="mm_input mm_stat-value"
        name="data.attributes.brawn.value"
        data-dtype="Number"
        value="{{data.attributes.brawn.value}}"
      />
      <div class="mm_modified">
        {{add data.attributes.brawn.value data.attributes.brawn.mod}}
      </div>
      <div class="mm_bullet"></div>
      <div class="modifier hidden">
        <label>{{localize "MAJI.modifier"}}</label>
        <input
          type="number"
          class="mm_input"
          data-dtype="Number"
          name="data.attributes.brawn.mod"
          value="{{data.attributes.brawn.mod}}"
        />
      </div>
    </div>
  </div>
</div>
<div class="flexrow flexmiddle mm_brawn-row">
  <div class="stat-box">
    <div class="stat-label">
      {{localize "MAJI.stats.speed"}}
    </div>
    <div class="mm_stat" data-attribute="speed">
      <input
        type="number"
        class="mm_input mm_stat-value"
        data-dtype="Number"
        name="data.attributes.speed.value"
        value="{{data.attributes.speed.value}}"
      />
      <div class="mm_modified">
        {{add data.attributes.speed.value data.attributes.speed.mod}}
      </div>
      <div class="mm_bullet"></div>
      <div class="modifier hidden">
        <label>{{localize "MAJI.modifier"}}</label>
        <input
          type="number"
          class="mm_input"
          data-dtype="Number"
          name="data.attributes.speed.mod"
          value="{{data.attributes.speed.mod}}"
        />
      </div>
    </div>
  </div>
  <div class="stat-box">
    <div class="stat-label">
      {{localize "MAJI.stats.protection"}}
    </div>
    <div class="mm_stat" data-attribute="protection">
      <input
        type="number"
        data-dtype="Number"
        class="mm_input mm_stat-value"
        name="data.attributes.protection.value"
        value="{{data.attributes.protection.value}}"
      />
      <div class="mm_modified">
        {{add data.attributes.protection.value data.attributes.protection.mod}}
      </div>
      <div class="mm_bullet"></div>
      <div class="modifier hidden">
        <label>{{localize "MAJI.modifier"}}</label>
        <input
          type="number"
          data-dtype="Number"
          class="mm_input"
          name="data.attributes.protection.mod"
          value="{{data.attributes.protection.mod}}"
        />
      </div>
    </div>
  </div>
  <div class="stat-box">
    <div class="stat-label">
      {{localize "MAJI.stats.discipline"}}
    </div>
    <div class="mm_stat" data-attribute="discipline">
      <input
        type="number"
        data-dtype="Number"
        class="mm_input mm_stat-value"
        name="data.attributes.discipline.value"
        value="{{data.attributes.discipline.value}}"
      />
      <div class="mm_modified">
        {{add data.attributes.discipline.value data.attributes.discipline.mod}}
      </div>
      <div class="mm_bullet"></div>
      <div class="modifier hidden">
        <label>{{localize "MAJI.modifier"}}</label>
        <input
          type="number"
          data-dtype="Number"
          class="mm_input"
          name="data.attributes.discipline.mod"
          value="{{data.attributes.discipline.mod}}"
        />
      </div>
    </div>
  </div>
  <div class="stat-box">
    <div class="stat-label">
      {{localize "MAJI.stats.talent"}}
    </div>
    <div class="mm_stat" data-attribute="talent">
      <input
        type="number"
        data-dtype="Number"
        class="mm_input mm_stat-value"
        name="data.attributes.talent.value"
        value="{{data.attributes.talent.value}}"
      />
      <div class="mm_modified">
        {{add data.attributes.talent.value data.attributes.talent.mod}}
      </div>
      <div class="mm_bullet"></div>
      <div class="modifier hidden">
        <label>{{localize "MAJI.modifier"}}</label>
        <input
          type="number"
          data-dtype="Number"
          class="mm_input"
          name="data.attributes.talent.mod"
          value="{{data.attributes.talent.mod}}"
        />
      </div>
    </div>
  </div>
</div>
<div class="flexrow flexmiddle">
  <div class="flexcolumn affinities mm_panel-title spadding">
    <a
      title="Add an Affinity"
      class="trait-selector"
      data-options="elements"
      data-target="affinities"
    >
    {{localize "MAJI.stats.affinities"}}
    </a>
    <div
      class="mm_stat resistance-box"
      title="Affinity bonus"
      data-attribute="affinity"
    >
      <span class="mm_stat-value">
        {{data.affinity.value}}
      </span>
      <div class="mm_modified">
        {{add data.affinity.value data.affinity.mod}}
      </div>
      <div class="mm_bullet"></div>
      <div class="modifier hidden">
        <label>{{localize "MAJI.modifier"}}</label>
        <input
          type="number"
          data-dtype="Number"
          class="mm_input"
          name="data.affinity.mod"
          value="{{data.affinity.mod}}"
        />
      </div>
    </div>
    <div class="element-grid affinity">
      {{#each data.affinities as |affinity id|}}
      <div>
        <img
          title="{{localize (concat 'MAJI.element.' affinity)}}"
          class="element-icon"
          src="/systems/majimonsters/assets/elements/{{affinity}}.png"
        />
      </div>
      {{/each}}
    </div>
  </div>
  <div class="flexcolumn divider"></div>
  <div class="flexcolumn affinities mm_panel-title spadding">
    <a
      title="Add a Resistance"
      class="trait-selector"
      data-options="elements"
      data-target="resistances"
    >
    {{localize "MAJI.stats.resistances"}}
    </a>
    <div
      class="mm_stat resistance-box"
      title="Resistance Value"
      data-attribute="resistance"
    >
      <span class="mm_stat-value">
        {{data.resistance.value}}
      </span>
      <div class="mm_modified">
        {{add data.resistance.value data.resistance.mod}}
      </div>
      <div class="mm_bullet"></div>
      <div class="modifier hidden">
        <label>{{localize "MAJI.modifier"}}</label>
        <input
          type="number"
          data-dtype="Number"
          class="mm_input"
          name="data.resistance.mod"
          value="{{data.resistance.mod}}"
        />
      </div>
    </div>
    <div class="element-grid resistance">
      {{#each data.resistances as |resistance id|}}
      <div>
        <img
          title="{{localize (concat 'MAJI.element.' resistance)}}"
          class="element-icon"
          src="/systems/majimonsters/assets/elements/{{resistance}}.png"
        />
      </div>
      {{/each}}
    </div>
  </div>
  <div class="divider"></div>
  <div class="flexcolumn affinities mm_panel-title spadding">
    <a
      title="Add a Vulnerability"
      class="trait-selector"
      data-options="elements"
      data-target="vulnerabilities"
    >
    {{localize "MAJI.stats.vulnerabilities"}}
    </a>
    <div class="element-grid vulnerability">
      {{#each data.vulnerabilities as |vuln id|}}
      <div>
        <img
          title="{{localize (concat 'MAJI.element.' vuln)}}"
          class="element-icon"
          src="/systems/majimonsters/assets/elements/{{vuln}}.png"
        />
      </div>
      {{/each}}
    </div>
  </div>
</div>
