<div>
  <div class="flexrow">
    <input
      class="mm_input line lrmargin mm_name-mstr"
      name="name"
      value="{{actor.name}}"
      placeholder="Name"
    />
    {{#if (eq data.details.gender "female")}}
    <div class="mm_gender" style="color: blueviolet;">
      <i class="fas fa-venus"></i>
    </div>
    {{else}}
    <div class="mm_gender" style="color: blue;">
      <i class="fas fa-mars"></i>
    </div>
    {{/if}}
  </div>
    <div class="flexrow stat-row">
      <div>
        <div class="stat-label">
          {{localize "MAJI.details.lvl"}}
        </div>
        <div class="mm_secondary-stat">
          <input
            type="number"
            class="mm_stat-value mm_input"
            name="data.details.level"
            data-dtype="Number"
            value="{{data.details.level}}"
          />
        </div>
      </div>
      <div>
        <div class="stat-label">
          {{localize "MAJI.details.hp"}}
        </div>
        <div class="mm_counter-stat">
          <input
            type="number"
            data-dtype="Number"
            class="mm_input mm_stat-value"
            name="data.hp.value"
            value="{{data.hp.value}}"
          />
          /
          <input
            type="number"
            data-dtype="Number"
            class="mm_input mm_stat-value"
            name="data.hp.max"
            value="{{data.hp.max}}"
          />
        </div>
      </div>
      <div>
        <div class="stat-label">
          {{localize "MAJI.details.size"}}
        </div>
        <div class="mm_counter-stat">
          <select class="mm_xp-value mm_select" name="data.details.size">
            {{#select data.details.size}}
            {{#each config.sizes as |size id|}}
              <option value="{{id}}">{{size}}</option>
            {{/each}}
            {{/select}}
          </select>
        </div>
      </div>
    </div>
    <div class="flexrow stat-row">
      <div>
        <div class="stat-label">
          {{localize "MAJI.details.grade"}}
        </div>
        <div class="mm_secondary-stat">
          <input
            type="number"
            data-dtype="Number"
            class="mm_input mm_stat-value"
            name="data.details.grade"
            value="{{data.details.grade}}"
          />
        </div>
      </div>
      <div>
        <div class="stat-label">
          {{localize "MAJI.details.grit"}}
        </div>
        <div class="mm_counter-stat">
          <input
            type="number"
            data-dtype="Number"
            class="mm_input mm_stat-value"
            name="data.grit.value"
            value="{{data.grit.value}}"
          />
          /
          <input
            type="number"
            data-dtype="Number"
            class="mm_input mm_stat-value"
            name="data.grit.max"
            value="{{data.grit.max}}"
          />
        </div>
      </div>
      <div>
        <div class="stat-label">
          {{localize "MAJI.details.xp"}}
        </div>
        <div class="mm_xp-stat">
          <input
            type="number"
            data-dtype="Number"
            class="mm_input mm_stat-value"
            name="data.stats.xp"
            value="{{data.stats.xp}}"
          />
        </div>
      </div>
    </div>
</div>
<div class="spadding portrait">
  <img
    class="profile-img"
    src="{{actor.img}}"
    data-edit="img"
    title="{{actor.name}}"
    height="160px"
    width="160px"
  />
</div>