<div class="flex flexrow mm_talentlist">
  <div class="flex flexcolumn padding">
    <div class="flexrow item-header">
      <span class="title">
        Traits
      </span>
      {{#if owner}}
      <div class="item-controls">
        <a class="item-control item-create" title="Add" data-type="feature">
          <i class="fas fa-plus"></i> Add
        </a>
      </div>
      {{/if}}
    </div>
    <div class="flexcolumn">
      {{#each traits as |trait id|}}
      <div class="item-entry">
        <li class="item flexrow" data-item-id="{{trait._id}}">
          <h4 class="item-name">
            {{trait.name}} <i class="fas fa-angle-down"></i>
          </h4>
          <div class="item-controls">
            <a class="item-control item-edit" title="Edit Item">
              <i class="fas fa-edit"></i>
            </a>
            <a class="item-control item-delete" title="Delete Item">
              <i class="fas fa-trash"></i>
            </a>
          </div>
        </li>
        <div
          class="flex flexrow collapsible collapsed wide description"
        >
          {{{data.description}}}
        </div>
      </div>
      {{/each}}
    </div>
  </div>
</div>
