<div class="majimonsters chat-card item-card" data-actor-id="{{actor._id}}" data-item-id="{{item._id}}"
     {{#if tokenId}}data-token-id="{{tokenId}}"{{/if}}>
    <header class="card-header flexrow">
        <img src="{{item.img}}" title="{{item.name}}" width="36" height="36"/>
        <h3 class="item-name">{{item.name}}</h3>
    </header>

    <div class="card-content">
        {{#if item.data.details.attack}}<span><strong>{{localize "MAJI.technique.attack"}}:</strong> {{lookup config.stats item.data.details.attack}} vs {{lookup config.stats item.data.details.defense}}</span>{{/if}}
        {{{item.data.description}}}
    </div>

    <div class="card-buttons">
        {{#if hasTrigger}}
        <button data-action="trigger" data-threshold="{{item.data.trigger.threshold}}" data-condition="{{item.data.trigger.condition}}" disabled>
            {{ localize "MAJI.technique.trigger" }} ({{item.data.trigger.threshold}}) - {{lookup config.conditions item.data.trigger.condition}}
        </button>
        {{/if}}
    </div>

    <footer class="card-footer">
        <span>{{lookup config.elements item.data.element}}</span>
        {{#if item.data.tags.reach}}<span>{{lookup config.reach item.data.tags.reach}}</span>{{/if}}
        {{#if item.data.tags.descriptor}}<span>{{lookup config.descriptors item.data.tags.descriptor}}</span>{{/if}}
        {{#if item.data.tags.action}}<span>{{lookup config.actions item.data.tags.action}}</span>{{/if}}
    </footer>
</div>
