.majimonsters.binder {
  .window-content {
    input[name="name"] {
      font-weight: bold;
      font-size: 28px;
      font-family: Chaparral;
      text-align-last: right !important;
      margin-right: 15px;
      width: 100%;
      height: 30px;
      margin-bottom: 0;
      border: none !important;
      background: none !important;
      &:hover {
        border-radius: 3px;
        background: $input-background !important;
      }
    }

    .thin {
      font-size: 16px;
      height: 18px;
      width: 130px;
      text-align-last: left !important;
      margin: 0 5px 0 5px;
      vertical-align: bottom;
      padding-bottom: 0;
      border: none !important;
      background: none !important;
      &:hover {
        border-radius: 3px;
        background: $input-background !important;
      }
    }

    .item-header .item-controls {
      flex: 0 0 30px;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: flex-start;
      justify-content: flex-end;
      a {
        font-size: 12px;
        text-align: right;
        color: #666;
        flex: 0 0 35px;
      }
    }

    .item-header .item-controls > * {
      flex: 1;
    }

    .sheet-body {
      height: calc(100% - 260px);
      .tab {
        height: 100%;
      }
      .editor {
        width: 100%;
        height: 350px;
      }
      .panel {
        box-shadow: 0 0 2px $colored-background inset;
        background-color: $input-background;
        padding: 8px;
        margin: 8px 8px 16px;
        border-radius: 10px;
        height: 330px;
        overflow-x: hidden;
        overflow-y: auto;
        .items-list {
          padding: 0;
          margin: 0;
        }
        .title {
          font-size: 12px;
          padding: 0 6px;
          color: #666;
          margin: 0 10px;
        }
        .item-entry {
          .binding {
            margin: 0 92px;
            line-height: 20px;
            .binding-roll {
              flex-grow: 0;
              flex-basis: 20px;
              img {
                height: 20px;
                cursor: pointer;
                border: none;
                &:hover {
                  filter: hue-rotate(180deg);
                }
              }
            }
          }
          .monster-link {
            border-radius: 10px;
            height: 50px;
            padding: 5px;
            .monster-portrait {
              flex-grow: 0;
              flex-basis: 40px;
              cursor: pointer;
              img {
                object-fit: contain;
                height: 40px;
                border: none;
              }
            }
            .details {
              margin-left: 10px;
              span {
                flex-grow: 2;
              }
              h4 {
                flex-grow: 1;
                font-weight: bold;
                margin-bottom: 0;
              }
            }
          }
        }
        .item {
          padding: 3px 0;
          margin: 2px 0;
          line-height: 18px;
          border-bottom: 1px solid grey;
          .item-name {
            width: 200px;
            font-weight: bold;
            margin: 0;
          }
          .item-controls {
            width: 34px;
            flex: none;
          }
        }
        .attribute-counter {
          line-height: 24px;
          border-bottom: none;
        }
        .counterbar {
          background-size: 24px;
          flex-grow: 0;
        }
        .counterbar.inactive {
          filter: grayscale(1);
        }
      }
      .items {
        height: calc(100% - 93px);
        .panel {
          height: 260px;
        }
      }
    }
    .brawn {
      border: 1px solid #7a7971;
      border-radius: 10px;
      padding: 10px;
      background-color: $input-background;
      label {
        font-size: 11px;
        position: absolute;
        font-weight: bold;
        padding: 0;
        margin-top: -25px;
        margin-right: -15px;
      }
      input {
        font-size: 16px;
        font-weight: bold;
        border: none !important;
        background: none !important;
        width: 100%;
      }
    }
    .counter-label {
      font-size: 11px;
      font-weight: bold;
      padding: 0;
      text-align: center;
    }
    .counter {
      border: 1px solid #7a7971;
      border-radius: 10px;
      padding: 10px;
      width: 100px;
      background-color: $input-background;
      input {
        font-size: 16px;
        font-weight: bold;
        border: none !important;
        background: none !important;
        width: 40%;
      }
    }
    .stat {
      border: 1px solid #7a7971;
      border-radius: 10px;
      background-color: $input-background;
      padding: 10px;
      margin-right: 10px;
      margin-top: 10px;
      width: 45px;
      height: 40px;
    }

    .portrait {
      width: 180px;
      height: 180px;
      .profile-img {
        border: none;
        object-fit: contain;
      }
    }
    .class {
      margin-right: 5px;
      margin-left: auto;
    }
    .underlined {
      border-bottom: 5px double grey;
    }
    .skillgroup {
      margin: 5px 10px 0 10px;
      border: 1px solid $colored-background;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      ul {
        list-style: none;
        padding: 0;
      }
    }
    .skill {
      padding: 2px 0 0 2px;
      margin: 1px;
      label {
        width: 100px;
        vertical-align: bottom;
        text-align: left;
        font-weight: bold;
      }
      input {
        background-color: $input-background;
        border-radius: 0.5em !important;
        color: black;
        padding-top: 2px;
        border: 1px solid #7a7971;
        width: 25px;
        height: 25px;
        font-weight: bold;
      }
    }
    .attribute {
      border: none;
      background-color: $colored-background;
      color: whitesmoke;
      padding: 3px 1px 1px 3px;
      width: auto;
      label {
        width: 100px;
        vertical-align: bottom;
        text-align: left;
      }
      input {
        background: none;
        color: whitesmoke;
        border: none;
        padding-top: 2px;
        width: 25px;
        height: 25px;
      }
    }
    .tabs {
      margin-bottom: 0;
      padding: 0;
      padding-left: 8px;
      border-bottom: 1px solid $colored-background;
      .item {
        background-color: $colored-background;
        color: white;
        width: 75px;
        margin: 8px 2px 0 2px;
        border-bottom: none;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        padding: 2px 0 0 0;
        overflow: hidden;
        height: 22px;
      }
    }
    .currency-group {
      padding: 5px 10px 0px 10px;
    }
    .currency {
      box-shadow: 0 0 2px $colored-background inset;
      border-radius: 10px;
      background-color: $input-background;
      padding: 10px 3px 3px 3px;
      margin: 3px auto 0;
      width: 60px;
      height: 60px;
      text-align: center;
      input {
        font-size: 16px;
        font-weight: bold;
        width: 48px;
        border: none;
        background: none;
      }
      label {
        text-align: center;
        font-size: 11px;
        position: absolute;
        border-top: 1px solid grey;
        padding: 2px 6px 0 5px;
        margin-top: 26px;
        width: 50px;
        margin-left: -1px;
        font-weight: bold;
      }
    }
  }
}
