$input-background: rgba(0, 0, 0, 0.05);
$colored-background: #046c65;

.majimonsters .window-content {
  // Utils
  .collapsed {
    display: none;
  }
  .margin {
    margin: 5px;
  }
  .nogrow {
    flex-grow: 0;
  }
  .flexcolumn {
    display: flex;
    flex-flow: column;
    min-height: 0;
  }
  .flexmiddle {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 0;
  }
  .spadding {
    padding: 2px;
  }
  .bold {
    font-weight: bold;
  }
  .wide {
    width: 100%;
  }

  // Inputs
  input {
    text-align: center;
  }
  input[type="number"] {
    -moz-appearance: textfield;
  }
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
  }
  input:not([type="checkbox"]) {
    background: $input-background;
    border: 1px solid #7a7971;
  }
}
