@font-face {
    font-family: "Highwaygothic";
    src: url("/systems/majimonsters/fonts/highwaygothic.ttf") format("truetype");
}

@font-face {
    font-family: "Feast";
    src: url("/systems/majimonsters/fonts/feastoffleshbb.ttf") format("truetype");
}


@font-face {
    font-family: "Chaparral";
    src: url("/systems/majimonsters/fonts/chaparralpro.otf") format("truetype");
}

@font-face {
    font-family: "Chaparralbold";
    src: url("/systems/majimonsters/fonts/chaparralprob.otf") format("truetype");
}
