.majimonsters.item {
  .window-content {
    input[name="name"] {
      font-weight: bold;
      font-size: 30px;
      font-family: Chaparral;
      height: 40px;
      border: none;
      border-radius: 0;
      border-bottom: 2px double $colored-background;
      background: none !important;
    }
    select {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      text-overflow: "";
      background: none;
      border: none;
      width: auto;
      text-align-last: center;
      text-align: center !important;
      padding: 3px;
    }
    .mm_name-tech {
      color: $colored-background;
      font-weight: bold;
      font-size: 28px;
      width: 100%;
      font-family: Feast;
      border: none !important;
      background: none;
    }
    .mm_tier {
      width: 40px;
      flex-basis: 40px;
      flex-grow: 0;
      padding-left: 8px;
      text-align: center;
      font-size: 20px;
      font-weight: bold;
      border-radius: 6px;
      &:hover {
        background-color: $input-background;
      }
    }
    .sheet-tabs {
      padding-bottom: 10px;
      border-bottom: 1px double $colored-background;
      margin: 0 8px;
      font-weight: bold;
    }

    .mm_element-logo_small {
      position: relative;
      height: 56px;
      width: 56px;
      flex-basis: 56px;
      flex-grow: 0;
      img {
        border: none;
        height: 56px;
        width: 56px;
      }
    }

    .effects {
      display: flex;
      justify-content: space-around;
      margin-top: 18px;
    }

    .description {
      height: 175px;
    }

    .mm_effect-box {
      flex-grow: 0;
      display: flex;
      justify-content: start;
      font-size: 14px;
      background-color: $input-background;
      border-radius: 5px;
      font-weight: bold;
      select {
        cursor: pointer;
        &:hover {
          background-color: $input-background;
          border-radius: 5px;
        }
      }
      span {
        padding-top: 4px;
      }
    }
    .mm_attack_label {
      position: absolute;
      font-weight: bold;
      margin: -13px auto 0 auto;
      font-size: 10px;
    }
    .mm_attack {
      width: 88px;
      border: none;
      &:hover {
        background-color: $input-background;
        border-radius: 5px;
      }
    }
    .mm_target {
      input {
        width: 100%;
        text-align: left;
        font-size: 14px;
        font-style: italic;
        background: none;
        border: none;
        &:hover {
          background: $input-background;
        }
      }
    }
    .mm_descriptor {
      width: 95px;
      border: none;
      font-size: 14px;
      font-style: italic;
      &:hover {
        background-color: $input-background;
        border-radius: 5px;
      }
    }
    .mm_action {
      width: 130px !important;
      border: none;
      font-size: 14px;
      font-style: italic;
      padding: 4px 10px 4px 10px;
      margin: 0 10px 0 10px;
      &:hover {
        background-color: $input-background;
        border-radius: 5px;
      }
    }
    .sheet-header {
      display: flex;
      .resources {
        flex-basis: 50px;
        flex-grow: 0;
        flex-direction: row;
        flex-wrap: nowrap;
        display: flex;
        .icons {
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          margin-right: 2px;
          text-align: center;
        }
        .values {
          flex-basis: 45px;
          display: flex;
          flex-direction: column;
          justify-content: space-around;
        }
      }
    }
    .sheet-body {
      width: 100%;
      &.feature {
        .editor {
          height: 230px;
          width: 100%;
        }
      }
      &.drajule {
        .editor {
          height: 165px !important;
        }
        .monster-drop {
          background: $input-background;
          border: 1px solid grey;
          border-radius: 10px;
          height: 100px;
          padding: 10px;
          .portrait {
            flex-grow: 0;
            flex-basis: 80px;
            cursor: pointer;
            img {
              height: 80px;
              border: none;
            }
          }
          .details {
            margin-left: 10px;
            h4 {
              font-size: 18px;
              font-weight: bold;
              margin-bottom: 0;
            }
          }
        }
      }
      .action-list {
        margin-top: 5px;
        h3 {
          text-align: center;
          font-weight: bold;
          font-size: 14px;
          margin: 0;
        }
      }
    }
  }
}

.majimonsters.chat-card {
  font-style: normal;
  font-size: 12px;
  .card-header {
    padding: 3px 0;
    border-top: 2px groove #fff;
    border-bottom: 2px groove #fff;
    img {
      border: none;
      flex: 0 0 36px;
      margin-right: 5px;
    }
    h3 {
      flex: 1;
      margin: 0;
      line-height: 36px;
      font-family: "Nodesto", "Signika", "Palatino Linotype", serif;
      font-size: 20px;
      color: #4b4a44;
      &:hover {
        color: #111;
        text-shadow: 0 0 10px red;
      }
    }
    .card-content {
      margin: 5px 0;
      h3 {
        font-size: 12px;
        margin: 0;
        font-weight: bold;
      }
    }
    .card-content > * {
      -webkit-user-select: text;
      -moz-user-select: text;
      -ms-user-select: text;
      user-select: text;
    }
  }
  .card-buttons {
    margin: 5px 0;
    span {
      display: block;
      line-height: 28px;
      text-align: center;
      border: 1px solid #ccc;
    }
    button {
      font-size: 12px;
      height: 24px;
      line-height: 20px;
      margin: 2px 0;
    }
  }
  .card-footer {
    padding: 3px 0 0;
    border-top: 2px groove #fff;
    span {
      border-right: 2px groove #fff;
      padding: 0 5px 0 0;
      font-size: 10px;
      &:last-child {
        border-right: none;
        padding-right: 0;
      }
    }
  }
}
