.majimonsters.monster .window-content {
  img {
    border: none;
    object-fit: contain;
  }
  .stat-row {
    justify-content: space-around;
    margin-top: 5px;
  }
  .stat-row * {
    flex-grow: 0;
    justify-content: space-around;
  }

  .sheet-tabs {
    flex-grow: 0;
    flex-basis: 20px;
    justify-content: start;
    .item {
      color: white;
      background-color: $colored-background;
      height: 80px;
      margin: 2px 0 0 5px;
      width: 21px;
      padding: 56px 0 0 8px;
      font-size: 12px;
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
      span {
        width: 100%;
        display: block;
        margin-bottom: 5px;
        transform: rotate(-90deg);
      }
    }
  }

  .mm_part1 {
    width: 500px;
    height: 162px;
    margin: auto;
  }

  .mm_mmtabs {
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 2px;
    width: 100%;
    height: 362px;
    .editor {
      height: 100%;
      .editor-content {
        padding: 10px;
      }
    }
  }

  .mm_talentlist {
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    .description {
      padding: 8px;
      p {
        margin: 0.2em 0;
      }
    }
  }

  .mm_stat {
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    background-color: $input-background;
  }

  .mm_select {
    vertical-align: top;
    border: none;
    background: none;
    margin-top: -3px;
  }

  .mm_secondary-stat {
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    background-color: $input-background;
    height: 40px;
  }

  .mm_counter-stat {
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    background-color: $input-background;
    margin: 0 auto 0 auto;
    display: flex;
    flex-basis: 105px;
    height: 40px;
  }

  .item-header {
    .title {
      font-size: 12px;
      padding: 0 6px;
      color: #666;
      margin: 5px 10px;
    }
    .item-controls {
      margin: 5px 10px;
      flex: 0 0 30px;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: flex-start;
      justify-content: flex-end;
      a {
        font-size: 12px;
        text-align: right;
        color: #666;
        flex: 0 0 35px;
      }
    }
  }

  .item-header .item-controls > * {
    flex: 1;
  }

  .mm_xp-stat {
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    background-color: $input-background;
    margin: 0 auto 0 auto;
    display: flex;
    flex-basis: 60px;
    height: 40px;
    input {
      width: 75px;
    }
  }

  .stat-label {
    font-size: 11px;
    font-weight: bold;
    text-align: center;
    padding: 0;
  }

  .mm_stat-value {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    width: 22px;
  }

  .mm_stat-value:not([type="checkbox"]) {
    border: none;
    background: none;
  }

  .portrait {
    flex-grow: 0;
    flex-basis: 160px;
  }

  .mm_name-mstr {
    color: $colored-background;
    font-size: 34px;
    width: 100%;
    margin-top: -10px;
    margin-bottom: 5px;
    font-family: Feast;
    border: none;
    background: none;
    &:hover {
      background: $input-background;
    }
  }

  .mm_stats-row {
    padding: 20px 0;
    margin: 0 40px 0 40px;
    justify-content: space-around;
    .stat-box {
      flex-basis: 55px;
      flex-grow: 0;
      position: relative;
    }
  }

  .mm_brawn-row {
    margin: 0 30px 0 50px;
    justify-content: space-around;
    .stat-box {
      flex-basis: 55px;
      flex-grow: 0;
      position: relative;
    }
  }

  .modifier {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background: $colored-background;
    color: white;
    z-index: 1;
    border: 1px solid black;
    width: 55px;
    height: 44px;
    left: 0;
    top: 12px;
    label {
      font-size: 11px;
    }
    input {
      background: none;
      border: none;
      width: 25px;
      color: white;
      font-weight: bold;
    }
    &.hidden {
      display: none;
    }
  }

  .mm_bullet {
    position: absolute;
    background-color: $colored-background;
    width: 10px;
    height: 10px;
    border-radius: 20px;
    right: -3px;
    bottom: -3px;
    z-index: 3;
    &:hover {
      border: 1px solid grey;
      cursor: pointer;
    }
  }

  .mm_modified {
    position: absolute;
    margin-left: 25px;
    margin-top: -5px;
    font-size: 11px;
  }

  .roll-icon {
    position: absolute;
    left: -5px;
    bottom: -15px;
    z-index: 4;
    cursor: pointer;
    img {
      width: 27px;
      &:hover {
        filter: hue-rotate(180deg);
      }
    }
  }

  .mm_gender {
    flex-grow: 0;
    flex-basis: 25px;
    font-size: 22px;
    height: 25px;
    text-align: center;
    cursor: pointer;
  }

  .mm_empower-icon {
    width: 48px;
    height: 48px;
    filter: saturate(0);
  }

  .mm_empower-icon:hover {
    filter: saturate(1);
  }

  .mm_empower-icon-down {
    width: 48px;
    height: 48px;
    filter: saturate(1);
  }

  .mm_empower-icon-down:hover {
    filter: saturate(0);
  }

  .mm_empower {
    margin-left: 20px;
    margin-right: 0;
  }

  .mm_panel-title {
    font-size: 12px;
    padding: 0 6px;
    color: #666;
    margin: 5px 10px;
  }

  .techniques {
    .item {
      .item-name {
        margin: 4px 0 0 5px;
        font-weight: bold;
        cursor: pointer;
      }
      img {
        height: 28px;
      }
    }
  }

  .item {
    padding: 5px 0 2px 0;
    margin: 0;
    border-bottom: 1px solid lightgrey;
    img {
      flex-grow: 0;
      flex-basis: 20px;
      margin: 0 10px;
    }
    .item-name {
      margin: 10px 0 0 5px;
      font-weight: bold;
      cursor: pointer;
    }
    .item-controls {
      margin: 8px 0 0 0;
      flex-grow: 0;
      flex-basis: 36px;
    }
  }
  .technique {
    .item {
      .item-controls {
        flex-basis: 50px;
      }
    }
  }

  .affinities {
    margin: 20px 0 0 0;
    padding-top: 20px;
    min-height: 190px;
    min-width: 120px;
    overflow-y: auto;
    position: relative;
    .element-grid {
      display: flex;
      flex-wrap: wrap;
      &.resistance {
        filter: hue-rotate(50deg);
      }
      &.vulnerability {
        filter: hue-rotate(180deg);  
      }
      .element-icon {
        padding: 2px;
        width: 40px;
        flex-grow: 0;
      }
    }
    .trait-selector {
      cursor: pointer;
    }
    .resistance-box {
      position: absolute;
      right: 2px;
      top: 0;
      width: 40px;
      height: 40px;
      border: 1px solid black;
      background-color: $input-background;
      color: black;
      .mm_stat-value {
        line-height: 20px;
      }
      .mm_modified {
        margin-left: 15px;
        margin-top: -5px;
      }
      .mm_bullet {
        top: 3px;
        right: -3px;
      }
      .modifier {
        width: 40px;
        height: 40px;
        top: -1px;
        left: -1px;
      }
    }
  }
  .divider {
    flex-grow: 0;
    flex-basis: 1px;
    border-right: 1px solid $colored-background;
    min-height: 130px;
  }

  .roll-technique {
    position: inherit;
    margin: -25px auto 2px 190px;
  }
}
