<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <div class="header-col">
      <h1 class="charname">
        <input
          name="name"
          type="text"
          value="{{item.name}}"
          placeholder="Name"
        />
      </h1>
    </div>
  </header>
  {{!-- Sheet Body --}}
  <section class="sheet-body drajule">
    <div class="flexrow monster-drop">
      {{#unless data.monster.id}}
      <span>
        Drop your monster here
      </span>
      {{else}}
      <div class="portrait entity" data-entity-id="{{data.monster.id}}">
        <img src="{{actor data.monster.id 'img'}}" />
      </div>
      <div class="flexcolumn details">
        <h4>{{actor data.monster.id 'name'}}</h4>
        <div class="flexrow">
          <span
            ><b>{{localize "MAJI.details.grade"}}:</b> {{actor data.monster.id
            'data.data.details.grade'}} -
            <b>{{localize "MAJI.details.lvl"}}:</b> {{actor data.monster.id
            'data.data.details.level'}}</span
          >
        </div>
        <div class="flexrow">
          <span
            ><b>{{localize "MAJI.stats.affinities"}}:</b>
            {{#each (actor data.monster.id 'data.data.affinities') as |element id|}} 
              {{lookup ../config.elements element}}
            {{/each}}
            </span
          >
        </div>
      </div>
      {{/unless}}
    </div>
    <div>
      {{editor content=data.description target="data.description" button=true
      owner=owner editable=editable}}
    </div>
  </section>
</form>
