<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <div class="header-col">
      <h1 class="charname">
        <input
          name="name"
          type="text"
          value="{{item.name}}"
          placeholder="Name"
        />
      </h1>
    </div>
  </header>
  {{! Sheet Navigation }}
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="description">
      Description
    </a>
    <a class="item" data-tab="actions">
      Actions
    </a>
  </nav>
  {{! Sheet Body }}
  <section class="sheet-body feature">
    <div class="tab description" data-group="primary" data-tab="description">
      <div class="form-group">
        {{editor content=data.description target="data.description" button=true
        owner=owner editable=editable }}
      </div>
    </div>
    <div class="tab actions" data-group="primary" data-tab="actions">
      <div class="action-list">
        <h3>Counter</h3>
        <div class="form-group">
          <label>
            Enable
          </label>
          <input
            type="checkbox"
            data-dtype="Boolean"
            name="data.counter.active"
            {{checked
            data.counter.active}}
          />
        </div>
        <div class="form-group">
          <label>
            Counter capacity
          </label>
          <input
            type="number"
            data-dtype="Number"
            value="{{data.counter.max}}"
            name="data.counter.max"
          />
        </div>
        <div class="form-group">
          <label>
            Counter icon
          </label>
          {{filePicker target="data.counter.icon" type="image"}}
          <input
            class="image"
            type="text"
            data-dtype="String"
            value="{{data.counter.icon}}"
            name="data.counter.icon"
          />
        </div>
      </div>
    </div>
  </section>
</form>
