<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <div class="header-col">
      <h1 class="charname">
        <input
          name="name"
          type="text"
          value="{{item.name}}"
          placeholder="Name"
        />
      </h1>
    </div>
    <div class="resources">
      <div class="icons">
        <label>#</label>
        <i class="fas fa-weight-hanging"></i>
      </div>
      <div class="values">
        <input
          type="text"
          name="data.quantity"
          value="{{data.quantity}}"
          data-dtype="Number"
        />
        <input
          type="text"
          name="data.weight"
          value="{{data.weight}}"
          data-dtype="Number"
        />
      </div>
    </div>
  </header>
  {{!-- Sheet Body --}}
  <section class="sheet-body feature">
      {{editor content=data.description target="data.description" button=true
      owner=owner editable=editable}}
  </section>
</form>
