<form class="{{cssClass}}" autocomplete="off">
  <div class="flexrow flexmiddle nogrow">
    <div class="flexcolumn smargin mm_element-logo_small">
      <img
        src="/systems/majimonsters/assets/elements/{{data.element}}.png"
        class="mm_logo"
      />
    </div>
    <div class="flex spadding">
      <input class="flex mm_name-tech" name="name" value="{{item.name}}" />
    </div>
    <select class="mm_select mm_tier" name="data.details.tier" data-dtype="Number">
      {{#select data.details.tier}}
        <option value="1">
          T1
        </option>
        <option value="2">
          T2
        </option>
        <option value="3">
          T3
        </option>
        <option value="4">
          T4
        </option>
        <option value="5">
          T5
        </option>
      {{/select}}
    </select>
  </div>
  <div class="flexrow margin effects">
    <div class="mm_effect-box">
      <span class="mm_attack_label">
        {{localize "MAJI.technique.attack"}}
      </span>
      <select class="mm_select mm_attack" name="data.details.attack">
        {{#select data.details.attack}}
          <option value="">
            _
          </option>
          <option value="strike">
            {{localize "MAJI.stats.strike"}}
          </option>
          <option value="magic">
            {{localize "MAJI.stats.magic"}}
          </option>
        {{/select}}
      </select>
      vs
      <select class="mm_select mm_attack" name="data.details.defense">
        {{#select data.details.defense}}
          <option value="">
            _
          </option>
          <option value="protection">
            {{localize "MAJI.stats.protection"}}
          </option>
          <option value="discipline">
            {{localize "MAJI.stats.discipline"}}
          </option>
        {{/select}}
      </select>
    </div>
    <div class="mm_effect-box">
      <span class="mm_attack_label">
        {{localize "MAJI.technique.damage"}}
      </span>
      <select class="mm_select" name="data.damage.num" data-dtype="Number">
        {{#select data.damage.num}}
          <option value="0">
            _
          </option>
          <option value="1">
            1
          </option>
          <option value="2">
            2
          </option>
          <option value="3">
            3
          </option>
        {{/select}}
      </select>
      <span>
        d
      </span>
      <select class="mm_select" name="data.damage.die" data-dtype="Number">
        {{#select data.damage.die}}
          <option value="0">
            _
          </option>
          <option value="6">
            6
          </option>
          <option value="8">
            8
          </option>
          <option value="10">
            10
          </option>
          <option value="12">
            12
          </option>
        {{/select}}
      </select>
      +
      <select class="mm_select" name="data.damage.bonus">
        {{#select data.damage.bonus}}
          <option value="">
            _
          </option>
          <option value="brawn">
            {{localize "MAJI.stats.brawn"}}
          </option>
          <option value="talent">
            {{localize "MAJI.stats.talent"}}
          </option>
        {{/select}}
      </select>
    </div>
    <div class="mm_effect-box">
      <span class="mm_attack_label">
        {{localize "MAJI.technique.trigger"}}
      </span>
      <select class="mm_select" name="data.trigger.threshold" data-dtype="Number">
        {{#select data.trigger.threshold}}
          <option value="0">
            _
          </option>
          <option value="2">
            (2)
          </option>
          <option value="3">
            (3)
          </option>
          <option value="4">
            (4)
          </option>
          <option value="5">
            (5)
          </option>
          <option value="6">
            (6)
          </option>
        {{/select}}
      </select>
      <select class="mm_select" name="data.trigger.condition">
        {{#select data.trigger.condition}}
          <option value="">
            _
          </option>
          {{#each config.conditions as |condition id|}}
            <option value="{{id}}">
              {{condition}}
            </option>
          {{/each}}
        {{/select}}
      </select>
    </div>
  </div>
  <div class="flexrow">
    <div class="mm_target">
      <input
        placeholder="Target"
        class="line lrmargin"
        name="data.details.target"
        value="{{data.details.target}}"
      />
    </div>
  </div>
  <div class="flexrow description">
    {{editor
      content=data.description
      target="data.description"
      button=true
      owner=owner
      editable=editable
    }}
  </div>
  <div
    class="flexrow smargin nogrow"
    style="border-top: 1px solid rgba(4, 108, 101, 0.8);"
  >
    <div class="flex flexmiddle">
      <select class="mm_select mm_descriptor spadding" name="data.element">
        {{#select data.element}}
          {{#each config.elements as |element id|}}
            <option value="{{id}}">
              {{element}}
            </option>
          {{/each}}
        {{/select}}
      </select>
      <div>
        •
      </div>
      <select class="mm_select mm_descriptor spadding" name="data.tags.reach">
        {{#select data.tags.reach}}
          <option value="">
            _
          </option>
          {{#each config.reach as |tag id|}}
            <option value="{{id}}">
              {{tag}}
            </option>
          {{/each}}
        {{/select}}
      </select>
      <div>
        •
      </div>
      <select
        class="mm_select mm_descriptor spadding"
        name="data.tags.descriptor"
      >
        {{#select data.tags.descriptor}}
          <option value="">
            _
          </option>
          {{#each config.descriptors as |tag id|}}
            <option value="{{id}}">
              {{tag}}
            </option>
          {{/each}}
        {{/select}}
      </select>
    </div>
    <div class="flex flexmiddle">
      <select class="mm_select mm_action" name="data.tags.action">
        {{#select data.tags.action}}
          <option value="">
            _
          </option>
          {{#each config.actions as |action id|}}
            <option value="{{id}}">
              {{action}}
            </option>
          {{/each}}
        {{/select}}
      </select>
    </div>
  </div>
</form>